table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table, tr, th, td{
  border: 1px solid black;
}

th{
  background-color: rgba(104, 102, 102, 0.582);
}

a{
  text-decoration: none;
  color: black;
}